:root {
    --padding: 22px;
}

/* DEFAULTS */

body {
    font-family: sans-serif
}

p {
    margin: 0
}

/* COLORS */

.bg-pale-blue {
    background-color: #DFEBF5;
}

.bg-white {
    background-color: #FFF;
}

/* TEXT */

.text-normal {
    font-size: 14px;
    line-height: 18px;
}

.text-big {
    font-size: 24px;
    font-weight: bold;
}

.text-huge {
    font-size: 36px;
    font-weight: bold;
}

/* LAYOUT */

.column {
    display: flex;
    flex-direction: column;
}

.column-gap {
    gap: 28px;
}

.column-width {
    width: 260px;
}

/* BORDERS */

.border-rounded {
    border-radius: 17px;
}

.padding-all {
    padding: var(--padding);
}

.padding-all-large {
    padding: 60px;
}

.margin-bottom {
    margin-bottom: 10px;
    display: block;
}

.margin-bottom-huge {
    margin-bottom: 30px;
    display: block;
}

/* UTILS */

.fit {
    position: relative;
    left: calc(-1 * var(--padding));
    margin-bottom: -70px;
    top: calc(-1 * var(--padding));
    max-width: calc(100% + var(--padding) * 2);
}

.overflow-hidden {
    overflow: hidden;
}

.z-front {
    display: block;
    z-index: 1;
    position: relative;
}

/* EFFECTS */

.shadow {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}